.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'cabecalho cabecalho'
        'capa-conteudo capa-img'
        'organizacao-img organizacao-conteudo'
        
    ;

    row-gap: 20px;
    column-gap: 20px;
}

header {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

section#capa-conteudo {
    grid-area: capa-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#capa-img {
    grid-area: capa-img;
}

section#organizacao-img {
    grid-area: organizacao-img;
}

section#capa-img > img, section#organizacao-img > img {
    max-width: 100%;
}

section#organizacao-conteudo {
    grid-area: organizacao-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background: #f2f2f2;
    padding-top:20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

nav {
    flex-grow: 1;
    display: flex;

}

nav ul {
    display: flex;
    list-style: none;
}

ul a:link, a:visited {
    padding: 10px;
    text-decoration: none;
    color: #484848;
    font-size: 1.2rem;

}

ul a:hover {
    color: #0b5cff;

}

.button {
    text-decoration: none;
    color: #0b5cff;
    border: 2px solid #0b5cff;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}

.button:hover {
    background: #d2e1ff;
    text-decoration: none;
}

.button.destaque {
    background: #0b5cff;
    color: white;
}

.button.destaque:hover {
    background: #2d73ff;
}

/* Tipografia */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

.texto-destaque {
    color: #0b5cff;

}

@media ( max-width: 768px ) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'cabecalho'
            'capa-conteudo'
            'capa-img'
            'organizacao-conteudo'
            'organizacao-img'
            
        ;
    }

    header {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1rem;
        margin-top: 0;
    }
    

}
